* {
    margin: 0;
    padding: 0;
    font-family: futura;
    box-sizing: border-box;
}

.container, .gameContainer, 
.labelContainer, .newGameContainer {
    min-width: 1100px;
}

.headingContainer, .labelContainer, .newGameContainer, .gameContainer,
.playerContainer, .row {
    display: flex;
}

.playerContainer {
    flex-wrap: wrap;
}

.headingContainer, .newGameContainer {
    justify-content: center;
}

.gameContainer, .labelContainer {
    justify-content: space-around;
}

.playerContainer {
    outline: 2px solid black;
    height: 500px;
    width: 500px;
}

.square {
    height: 50px;
    width: 50px;
    outline: 2px solid black;
}

.shipSquare {
    background-color: blue;
}

.hitSquare {
    background-color: red;
}

.missSquare {
    background-color: yellow;
}