* {
    margin: 0;
    padding: 0;
    font-family: futura;
    box-sizing: border-box;
}

.headingContainer, .labelContainer, .newGameContainer {
    display: flex;
}

.headingContainer, .newGameContainer {
    justify-content: center;
}